[alan]
token = "token-got-from-revolut"
device_id = "device-id-got-from-revolut"
ynab_current_account_name = "alan-turing"
ynab_account_alias = "ynab-gbp"
currency = "GBP"

[geoffrey]
token = "token-got-from-revolut"
device_id = "device-id-got-from-revolut"
ynab_current_account_name = "geoffrey-hinton"
ynab_account_alias = "ynab-eur"
currency = "EUR"
